<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mpesa_code %>
    <%= form.text_field :mpesa_code %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :transacted %>
    <%= form.text_field :transacted %>
  </div>

  <div class="field">
    <%= form.label :timed_out %>
    <%= form.text_field :timed_out %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
